@font-face {
  font-family: 'cairo';
  src: url(../fonts/Cairo-VariableFont_slnt\,wght.ttf);
}

/* ----------------- VAR ----------------- */
:root {
  --main-color: rgb(72, 105, 255);
  --second-color: #2f3640;
  --second-color-transpire: #353b48;
  --main-padding: 65px;
  --text-color: #ddd;
}

/* ----------------- SELECTION ----------------- */
::selection {
  background-color: var(--main-color);
  color: var(--second-color);
}

/* ----------------- SMOOTH ----------------- */
html {
  scroll-behavior: smooth;
}

/* ----------------- SCROLL BAR ----------------- */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: var(--second-color);
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--second-color-transpire);
  border-radius:  40px;
  -webkit-border-radius:  40px;
  -moz-border-radius:  40px;
  -ms-border-radius:  40px;
  -o-border-radius:  40px;
}

/* ----------------- CONTAINER ----------------- */
.cont {
  max-width: 1200px;
  margin: auto;
}

/* ----------------- ALL ELEMENTS -----------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'cairo', sans-serif;
  background-color: var(--second-color);
  direction: rtl;
}

.up {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 15px;
  border: none;
  outline: none;
  background: var(--main-color);
  color: var(--second-color-transpire);
  border-radius: 5px;
  font-size: 20px;
  position: fixed;
  bottom: 10px;
  right: -50px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  z-index: 99;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  user-select: none;
}
.up.show {
  right: 10px;
}

/* --------------------------------------------------- */

/* Start Nav */
nav {
  user-select: none;
  height: 60px;
  line-height: 60px;
}
nav .cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h2 {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
}
nav h2 span {
  color: var(--main-color);
}
nav h2 a {
  color: var(--text-color);
  text-decoration: none;
}
nav .list {
  display: inline-block;
  line-height: 60px;
}
nav ul li{
  display: inline-block;
  padding: 0 15px;
  text-transform: capitalize;
}
nav ul li a{
  color: #aaa;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
nav ul li a:hover {
  color: var(--text-color);
}
nav ul li a::after{
  content: '';
  position: absolute;
  background-color: var(--main-color);
  width: 0;
  height: 2px;
  right: 0;
  bottom: -5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
nav ul li a:hover::after{
  width: 100%;
}
nav div div {
  color: var(--text-color);
  font-size: 25px;
  display: inline-block;
}
nav div.toggle {
  display: none;
}
/* End Nav */



/* media */

@media (max-width: 767px){
  .cont {
    width: 300px;
  }
  nav {
    background-color: var(--second-color);
  }
  nav ul{
    position: fixed;
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: var(--second-color-transpire);
    top: 60px;
    left: -100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    z-index: 100;
  }
  nav ul.show {
    left: 0;
  }
  nav ul li{
    display: block;
  }
  nav ul li:nth-child(1){
    margin-top: 20px;
  }
  nav div.toggle {
    display: inline-block;
  }
}

/* small */
@media (min-width: 768px){
  .cont {
    width: 750px;
  }
}

/* medium */
@media (min-width: 992px){
  .cont {
    width: 970px;
  }
}

/* large */
@media (min-width: 1200px){
  .cont {
    width: 1170px;
  }
}